@font-face { font-family: Gotham; src: url('../fonts/GothamBook.ttf'); } 

body {
    font-family: Gotham;
    height: 100%;
    margin: 0;
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.breadcrumb .wrapper{
    width: 60%;
}

.header .wrapper{
    width: 60%;
}

.footer .wrapper{
    width: 60%;
}

.header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
}

.header .logo {
    justify-content: flex-start;
    padding: 30px 30px;
}

.header .nav {
    justify-content: flex-end;
    padding: 60px 60px;
}

.nav a {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 160%;

    font-size: 23px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 10px 0 10px;
}

.breadcrumb {
    font-size: 20px;
    background-color: #363636;
    color: #fff;
    padding: 10px 10px;
    word-spacing: 12px;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
}

.content p {
    text-align: center;
    line-height: 100px;
    color: #8D8D8D;
    font-size: 23px;
}

.content a {
    text-align: center;
} 

.buttons{
    line-height: 150px;
    height: 150px;
    text-align: center;
}

.buttons .button {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: center;
    text-decoration: none;
    background-color: #D0EB13;
    color: #000;
    padding: 15px 25px;
    width: 427px;
    height: 80px;
    border-radius: 9px;
}

.footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #D0EB13;
    justify-content: space-between;
    margin: auto 0;
}

.footer .logo {
    padding: 30px 30px;
    justify-content: flex-start;
}

.footer .links {
    padding: 30px 30px;
    justify-content: flex-end;
}

.footer .links a {
    text-decoration: none;
    color:#000;
    font-size: 30px;
    font-weight: 700;
    margin: 0 10px 0 10px;
}